@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&family=Yeseva+One&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 60px;
  font-family: "Yeseva One";
}

.header-para{
  margin-top: 7%;
}

.para-text{
  margin-bottom: 7%;
}

.projects-text{
  margin-bottom: 3%;
}

#text-slice {
  font-family: "Montserrat", sans-serif;
  border-left: 6px solid;
  border-color: #ff5959;
  border-image-slice: 1;
  padding: 0 10px;
  border-radius: 5px;
}

p {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  line-height: 28px;
  color: dimgray;
}

.flexible-container {
  display: flex;
  height: 600px;
  margin-bottom: 150px;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.half-width {
  width: 50%;
  float: left;
  margin: 20px;
  padding: 2%;
}

.half-width img {
  width: 80%;
  margin-top: 5px;
  margin-bottom: 10px;
}
.mission img {
  width: 30%;
  margin-top: 5px;
}

.link-button {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  background-color: #ff5959;
  padding: 15px 30px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-missions {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 2px;

}

#mission {
  background: #4f9da61a;
  border-radius: 25px;
}

#vision {
  background: #ff59591a;
  border-radius: 25px;
}

#goals {
  background: #fff4d6;
  border-radius: 25px;
  margin-right: 5%;
}

.develop-page {
  background-image: url(images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 17%;
}

.develop-page h1{
  font-family: "Poppins", sans-serif;
}

.develop-page img {
  width: 60%;
  padding: 5%;
}

.projects-page-text{
  font-family: "Poppins", sans-serif;
}

.projects-page img{
  margin-left: 22%;
}

.project-content-page{
  background-image: url(images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 17%;
}

span {
  color: #ffad5a;
}

.contact-img{
  background-size: 100%;
  width: 100%;
}

.input-form{
  padding: 10px;
  border: 1px solid salmon;
  border-radius: 4px;
  width: 60%;
}

#send-btn{
  border: none;
  cursor: pointer;
}

.input-form-text-area{
  padding: 30px 10px;
  border: 1px solid salmon;
  border-radius: 4px;
  width: 60%;
}

.contact-page-text{
  font-family: "Poppins", sans-serif;
}

footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

footer h1{
  font-family: 'Lobster', cursive;
}