@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

body {
  /* background: #E5E5E5; */
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 60px;
  font-family: "Yeseva One";
}

#text-slice {
  border-left: 6px solid;
  border-color: #ff5959;
  border-image-slice: 1;
  padding: 0 10px;
}

p {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  line-height: 28px;
  color: dimgray;
}

.flexible-container {
  display: flex;
  height: 550px;
  margin-bottom: 150px;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.half-width {
  width: 50%;
  float: left;
  margin: 20px;
  padding: 2%;
}

.half-width img {
  width: 80%;
  margin-top: 5px;
}
.mission img {
  width: 30%;
  margin-top: 5px;
}

.link-button {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  background-color: #ff5959;
  padding: 10px 40px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-missions {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: bold;
}

#mission {
  background: #4f9da61a;
  border-radius: 25px;
}

/* .mission-img img{
    width: 25%;
} */

#vission {
  background: #ff59591a;
  border-radius: 25px;
}

#goals {
  background: #fff4d6;
  border-radius: 25px;
  margin-right: 5%;
}

.develop-page {
  background-image: url(images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 20%;
}

.develop-page img {
  width: 60%;
}

.projects-page {
  background-image: url(images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 40%;
}

span {
  color: #ffad5a;
}

.footer-page {
  height: 220px;
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  color: white;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.footer-page h1 {
  font-size: 36px;
}